
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

# Upload exclusions
**/_*/
*.md
**/cocos-code-mode/


# Local Cocos and editor output
**/.*/
native/
.vs/
.creator/
